<div class="profile">
  <img id="profile-picture" src="<%=user.profilePicture %>" />
</div>
<div class="support">
  <div class="support-row">
    <img id="support-picture-001" src="/Images/bandeira-lgbt.jpg" />
    <img id="support-picture-002" src="/Images/bandeira-brasil.jpg" />
  </div>
  <div class="support-row">
    <img id="support-picture-003" src="/Images/bandeira-franca.jpg" />
    <img id="support-picture-004" src="/Images/bandeira-minas.jpg" />
  </div>
</div>
<div class="result">
  <img id="result-picture" src="" />
</div>
