<meta charset="UTF-8">
<title>Support Anything</title>

<link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/main.css">
<style>
	body 	{ padding-top:50px; }
</style>
