<meta charset="UTF-8">
<title>Support Anything</title>

<link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//lipis.github.io/bootstrap-social/bootstrap-social.css">
<link rel="stylesheet" href="/styles/main.css">

<script language="javascript" type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
