<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<div class="section header">
		<% include ../partials/header %>
	</div>

	<div class="section gallery">
		<% include ../partials/gallery %>
	</div>

	<div class="section footer">
		<% include ../partials/footer %>
	</div>

</body>
</html>
