<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		Express your support for anything!

		<div class="images-support">
			<div class="images-selected">
				<div class="picture">
					<img id="support-pic1" src="/images/bandeira-minas.png" />
				</div>

				<div class="picture">
					<img id="support-pic2" src="/images/gato.jpg" />
				</div>

			</div>
			<div class="images-result">
				<img id="support-pic3" src="/images/result.jpg" />
			</div>
		</div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
